body{
    font-family: arial,sans-serif;
    background-color: #a36060;
    margin: px;
    padding: 10px;
}
header{
    background-color: #333;
    color: #fff;
    text-align: justify;
    padding: 20px;
}
h1{
    margin:0;
}
container{
    background-color: #fff;
    margin : 20px;
    padding:20px;
    border-radius:5px;
}
